<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Shorten the log pattern for better demoing on a projector. -->
	<property name="CONSOLE_LOG_PATTERN" value="%clr(%d{${LOG_DATEFORMAT_PATTERN:-HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr([%10.10t]){faint} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
</configuration>
